extends layout

block content
  h1(align='center') Inochi
    br
    br
    textarea.txtArea(id='history' readonly='')
    br
    textarea.txtArea(placeholder='Type message...' id='message' required='')
    br
    button.btn(type='submit' id='send_message') Send

