body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Add styles to the form container */
.txtArea {
  max-width: 500px;
  padding: 10px;
  background-color: white;
  width: 100%;
  padding: 15px;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 50px;
}

/* When the textarea gets focus, do something */
.txtArea:focus {
  background-color: #ddd;
  outline: none;
}

.userNameInput {
  padding: 10px;
}

.passwordInput {
  padding: 10px;
}

.createAccountButton {
  border-radius: 25px;
  width: 200px;
}

.signInButton {
  border-radius: 25px;
  background-color: aquamarine;
  width: 200px;
}
